<div class="js-qty__wrapper">
  <input type="text" id="Quantity-{{ id }}"
    class="js-qty__num"
    value="{{ qty }}"
    min="{{ min }}"
    aria-label="quantity"
    pattern="[0-9]*"
    name="quantity">
  <button type="button"
    class="js-qty__adjust js-qty__adjust--minus"
    aria-label="{{ 'cart.general.reduce_quantity' | t }}">
    <svg id="Capa_1"  class="icon icon-minus" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.27 2.99"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;}</style></defs><polyline class="cls-1" points="0.5 0.5 2.13 2.49 3.77 0.5"/></svg>
      <span class="icon__fallback-text" aria-hidden="true">&minus;</span>
  </button>
  <button type="button"
    class="js-qty__adjust js-qty__adjust--plus"
    aria-label="{{ 'cart.general.increase_quantity' | t }}">
    <svg id="Capa_1" class="icon icon-plus"  data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.27 2.99"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;}</style></defs><polyline class="cls-1" points="3.77 2.49 2.13 0.5 0.5 2.49"/></svg>
      <span class="icon__fallback-text" aria-hidden="true">+</span>
  </button>
</div>
