<section class="offer-area section">
  <div class="offer-tabs tab-content">
    <div class="offerslide tab-pane fade show">
      <div class="offerItem active">
        <h4 class="offerItemTitle hide">Nosotros</h4>
        <div class="offer-detail h-100">
          <div class="row justify-content-center h-100  content-description-box">
            <div class="col-12 mt-auto my-lg-auto">
              <div class="offer-content row">
                <div class="col-12">
                  <div class="description">
                    <h2 class="text-uppercase text-center text-lg-start">
                      <span class="title-green">
                        Nuestros
                      </span><br>
                      <span class="title-red">
                        10 Principios
                      </span>
                    </h2>
                    <p class="text-center text-lg-start">
                      Nuestros productos conservan el 100% de los nutrientes de la
                      fruta, contienen fibra dietética y saborizantes naturales. Son 
                      perfectos para quienes llevan un estilo de vida activo y saludable,
                      que tienen poco tiempo y buscan sacar el mayor provecho a su alimentación. 
                      Nuestros productos vienen en una variedad de formas y en empaques
                      biodegradables de distintos tamaños para disfrutarlos donde quieras.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="offerItem">
        <h4 class="offerItemTitle">01. Innovación</h4>
        <div class="offer-detail h-100">
          <div class="row justify-content-center h-100 content-description-box">
            <div class="col-12 box-content-txt-gral  pt-lg-5 pt-xl-0">
              <div class="offer-content row">
                <div class="col-12 col-xl-6">
                  <div class="description">
                    <h2 class="text-uppercase title-accordion text-center text-lg-start">
                      01. <br>
                      Innovación
                    </h2>
                    <p class="description-accordion text-center text-lg-start">
                      Nos mueven las ideas. <br>
                      Vemos la investigación y el desarrollo como un campo de juego. <br>
                      Creamos productos vibrantes, deliciosos y emocionantes. <br>
                      Nos apasiona el Diseño. <br>
                      Seguimos nuestra curiosidad e inteligencia. 
                    </p>
                  </div>
                </div>
                <div class="col-12 col-xl-6 text-center  text-lg-start text-xl-end order-first order-lg-last content-image-accordion">
                  <img class="img-fluid lazyload"
                       data-src="{{ 'innovacion-01.png' | asset_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080]"
                       data-aspectratio="{{ preview_image.aspect_ratio }}"
                       alt="{{ preview_image.alt | escape }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="offerItem">
        <h4 class="offerItemTitle">02. Calidad</h4>
        <div class="offer-detail h-100">
          <div class="row justify-content-center h-100 content-description-box">
            <div class="col-12 pt-5 pt-xl-0">
              <div class="offer-content row">
                <div class="col-12 col-xl-6">
                  <div class="description">
                    <h2 class="text-uppercase title-accordion text-center text-lg-start">
                      02. <br>
                      Calidad
                    </h2>
                    <p class="description-accordion text-center text-lg-start">
                      Creamos productos que les daríamos a nuestros hijos con confianza. <br>
                      Cuidamos el proceso a cada paso, de principio a fin. <br>
                      Entendemos que los consumidores inteligentes esperan únicamente productos increíbles.
                    </p>
                  </div>
                </div>
                <div class="col-12 col-xl-6  text-center  text-lg-start text-xl-end order-first order-lg-last content-image-accordion">
                  <img class="img-fluid lazyload"
                       data-src="{{ 'calidad-02.png' | asset_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080]"
                       data-aspectratio="{{ preview_image.aspect_ratio }}"
                       alt="{{ preview_image.alt | escape }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offerItem">
        <h4 class="offerItemTitle">03. Sostenibilidad</h4>
        <div class="offer-detail h-100">
          <div class="row justify-content-center h-100 content-description-box">
            <div class="col-12 pt-5 pt-xl-0">
              <div class="offer-content row">
                <div class="col-12 col-xl-6">
                  <div class="description">
                    <h2 class="text-uppercase title-accordion text-center text-lg-start">
                      03. <br>
                      Sostenibilidad
                    </h2>
                    <p class="description-accordion text-center text-lg-start">
                      Compartimos profundo amor por nuestro planeta. <br>
                      Desempeñamos un rol activo en cuidar el medio ambiente.<br>
                      Priorizamos una baja huella de carbono.<br>
                      Creemos en el poder transformador de las prácticas sostenibles.
                    </p>
                  </div>
                </div>
                <div class="col-12 col-xl-6 text-center  text-lg-start text-xl-end order-first order-lg-last content-image-accordion">
                  <img class="img-fluid lazyload"
                       data-src="{{ 'sostenibilidad-03.png' | asset_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080]"
                       data-aspectratio="{{ preview_image.aspect_ratio }}"
                       alt="{{ preview_image.alt | escape }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offerItem">
        <h4 class="offerItemTitle">04. Responsabilidad Social</h4>
        <div class="offer-detail h-100">
          <div class="row justify-content-center h-100 content-description-box">
            <div class="col-12 pt-5 pt-xl-0">
              <div class="offer-content row">
                <div class="col-12 col-xl-6">
                  <div class="description">
                    <h2 class="text-uppercase title-accordion text-center text-lg-start">
                      04. <br>
                      Responsabilidad Social
                    </h2>
                    <p class="description-accordion text-center text-lg-start">
                      Aprovechamos cada oportunidad para compartir con aquellos menos afortunados.<br>
                      Creemos en el conocimiento compartido para construir una sociedad más inteligente.<br>
                      Aspiramos a propiciar un sentido de solidaridad y unión con todo lo que hacemos.
                    </p>
                  </div>
                </div>
                <div class="col-12 col-xl-6 text-center  text-lg-start text-xl-end order-first order-lg-last content-image-accordion">
                  <img class="img-fluid lazyload"
                       data-src="{{ 'responsabilidad-04.png' | asset_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080]"
                       data-aspectratio="{{ preview_image.aspect_ratio }}"
                       alt="{{ preview_image.alt | escape }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offerItem">
        <h4 class="offerItemTitle">05. Valor y Equidad</h4>
        <div class="offer-detail h-100">
          <div class="row justify-content-center h-100 content-description-box">
            <div class="col-12 pt-5 pt-xl-0">
              <div class="offer-content row">
                <div class="col-12 col-xl-6">
                  <div class="description">
                    <h2 class="text-uppercase title-accordion text-center text-lg-start">
                      05. <br>
                      Valor y Equidad
                    </h2>
                    <p class="description-accordion text-center text-lg-start">
                      Buscamos crear valor y beneficios para todos, en términos de conocimiento, riqueza cultural y económica.<br>
                      Creamos oportunidades e impulsamos el éxito.<br>
                      Promovemos la cohesión social.<br>
                      Procuramos incorporar las economías circulares.<br>
                    </p>
                  </div>
                </div>
                <div class="col-12 col-xl-6 text-center  text-lg-start text-xl-end order-first order-lg-last content-image-accordion">
                  <img class="img-fluid lazyload"
                       data-src="{{ 'equidad-05.png' | asset_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080]"
                       data-aspectratio="{{ preview_image.aspect_ratio }}"
                       alt="{{ preview_image.alt | escape }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offerItem">
        <h4 class="offerItemTitle">06. Resiliencia</h4>
        <div class="offer-detail h-100">
          <div class="row justify-content-center h-100 content-description-box">
            <div class="col-12 pt-5 pt-xl-0">
              <div class="offer-content row">
                <div class="col-12 col-xl-6">
                  <div class="description">
                    <h2 class="text-uppercase title-accordion text-center text-lg-start">
                      05. <br>
                      Resiliencia
                    </h2>
                    <p class="description-accordion text-center text-lg-start">
                      Estamos enamorados de lo que cada día nos despertamos a hacer.<br>
                      Creemos en el aprendizaje, no en los errores.<br>
                      Buscamos siempre mantener una mente y espíritu fuertes.<br>
                      Sabemos que cada día es una nueva oportunidad para ser humano.
                    </p>
                  </div>
                </div>
                <div class="col-12 col-xl-6 text-center  text-lg-start text-xl-end order-first order-lg-last content-image-accordion">
                  <img class="img-fluid lazyload"
                       data-src="{{ 'resiliencia-06.png' | asset_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080]"
                       data-aspectratio="{{ preview_image.aspect_ratio }}"
                       alt="{{ preview_image.alt | escape }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offerItem">
        <h4 class="offerItemTitle">07. Smart Sourcing</h4>
        <div class="offer-detail h-100">
          <div class="row justify-content-center h-100 content-description-box">
            <div class="col-12 pt-5 pt-xl-0">
              <div class="offer-content row">
                <div class="col-12 col-xl-6">
                  <div class="description">
                    <h2 class="text-uppercase title-accordion text-center text-lg-start">
                      07. <br>
                      Smart Sourcing
                    </h2>
                    <p class="description-accordion text-center text-lg-start">
                      Priorizamos la materia prima de orígenes locales y éticos.<br>
                      Consideramos los impactos de ciclo de vida de los procesos de manufactura y desecho.
                    </p>
                  </div>
                </div>
                <div class="col-12 col-xl-6  text-center  text-lg-start text-xl-end order-first order-lg-last content-image-accordion">
                  <img class="img-fluid lazyload"
                       data-src="{{ 'smart-07.png' | asset_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080]"
                       data-aspectratio="{{ preview_image.aspect_ratio }}"
                       alt="{{ preview_image.alt | escape }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offerItem">
        <h4 class="offerItemTitle">08. Identidad y Diversidad</h4>
        <div class="offer-detail h-100">
          <div class="row justify-content-center h-100 content-description-box">
            <div class="col-12 pt-5 pt-xl-0">
              <div class="offer-content row">
                <div class="col-12 col-xl-6">
                  <div class="description">
                    <h2 class="text-uppercase title-accordion text-center text-lg-start">
                      08. <br>
                      Identidad y Diversidad
                    </h2>
                    <p class="description-accordion text-center text-lg-start">
                      Creemos en la bondad de la gente.<br>
                      Nos enorgullecemos de nuestros orígenes latinoamericanos y honramos nuestras raíces.<br>
                      Creemos en las comunidades con un fuerte sentido de pertenencia.<br>
                      Creemos que la diversidad enriquece las ideas.<br>
                      Imaginamos mejores futuros donde caben todos.
                    </p>
                  </div>
                </div>
                <div class="col-12 col-xl-6  text-center  text-lg-start text-xl-end order-first order-lg-last content-image-accordion">
                  <img class="img-fluid lazyload"
                       data-src="{{ 'diversidad-08.png' | asset_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080]"
                       data-aspectratio="{{ preview_image.aspect_ratio }}"
                       alt="{{ preview_image.alt | escape }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offerItem">
        <h4 class="offerItemTitle">09. Vida Activa</h4>
        <div class="offer-detail h-100">
          <div class="row justify-content-center h-100 content-description-box">
            <div class="col-12 pt-5 pt-xl-0">
              <div class="offer-content row">
                <div class="col-12 col-xl-6">
                  <div class="description">
                    <h2 class="text-uppercase title-accordion text-center text-lg-start">
                      09. <br>
                      Vida Activa
                    </h2>
                    <p class="description-accordion text-center text-lg-start">
                      Movemos nuestros cuerpos y mentes, manteniéndonos en contacto con nuestra fuerza vital. <br>
                      Entendemos que el cuerpo es un vehículo para un espíritu activo.
                    </p>
                  </div>
                </div>
                <div class="col-12 col-xl-6  text-center  text-lg-start text-xl-end order-first order-lg-last content-image-accordion">
                  <img class="img-fluid lazyload"
                       data-src="{{ 'vida-09.png' | asset_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080]"
                       data-aspectratio="{{ preview_image.aspect_ratio }}"
                       alt="{{ preview_image.alt | escape }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offerItem">
        <h4 class="offerItemTitle">10. Bienestar</h4>
        <div class="offer-detail h-100">
          <div class="row justify-content-center h-100 content-description-box">
            <div class="col-12 pt-5 pt-xl-0">
              <div class="offer-content row">
                <div class="col-12 col-xl-6">
                  <div class="description">
                    <h2 class="text-uppercase title-accordion text-center text-lg-start">
                      10. <br>
                      Bienestar
                    </h2>
                    <p class="description-accordion text-center text-lg-start">
                      Sabemos que somos lo que comemos.<br>
                      Trabajamos para hacer que las personas se sientan bien con todo lo que hacemos y creamos.
                    </p>
                  </div>
                </div>
                <div class="col-12 col-xl-6  text-center  text-lg-start text-xl-end order-first order-lg-last content-image-accordion">
                  <img class="img-fluid lazyload"
                       data-src="{{ 'bienestar-10.png' | asset_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080]"
                       data-aspectratio="{{ preview_image.aspect_ratio }}"
                       alt="{{ preview_image.alt | escape }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <!--offer section area end-->
{% schema %}
{
  "name": "Accordion Vertical",
  "class": "accordion-vertical-seccion",
  "settings": [

  ],
  "presets": [
    {
      "name": "Accordion Vertical",
      "category": "Images"
    }
]
}
{% endschema %}
